jmeter_dbunit_tests/dbunit_hibernate_started/src/test/resources/dataSet_.dtd

<!ELEMENT dataset (
    ACCOUNT*,
    CAR*,
    FOOD_INGREDIENT*,
    PERSON*,
    PERSON_CAR*,
    READY_MEAL*,
    READY_MEAL_DETAILS*)>

<!ELEMENT ACCOUNT EMPTY>
<!ATTLIST ACCOUNT
    USER_ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    PASSWORD CDATA #IMPLIED
>

<!ELEMENT CAR EMPTY>
<!ATTLIST CAR
    ID CDATA #REQUIRED
    MAKE CDATA #IMPLIED
    MODEL CDATA #IMPLIED
    SOLD CDATA #IMPLIED
>

<!ELEMENT FOOD_INGREDIENT EMPTY>
<!ATTLIST FOOD_INGREDIENT
    ID CDATA #REQUIRED
    AMOUNT_CARBS CDATA #IMPLIED
    AMOUNT_FATS CDATA #IMPLIED
    AMOUNT_PROTINS CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT PERSON EMPTY>
<!ATTLIST PERSON
    ID CDATA #REQUIRED
    FIRSTNAME CDATA #IMPLIED
    PIN CDATA #REQUIRED
    REGISTRATIONDATE CDATA #IMPLIED
>

<!ELEMENT PERSON_CAR EMPTY>
<!ATTLIST PERSON_CAR
    PERSON_ID CDATA #REQUIRED
    CARS_ID CDATA #REQUIRED
>

<!ELEMENT READY_MEAL EMPTY>
<!ATTLIST READY_MEAL
    MEAL_ID CDATA #REQUIRED
    TITLE CDATA #IMPLIED
    READYMEALACCOUNT_USER_ID CDATA #IMPLIED
>

<!ELEMENT READY_MEAL_DETAILS EMPTY>
<!ATTLIST READY_MEAL_DETAILS
    ID CDATA #REQUIRED
    GRAMS_PORTION CDATA #IMPLIED
    READYMEALDETAILSFOODINGREDIENT_ID CDATA #IMPLIED
    READYMEALDETAILSREADYMEAL_MEAL_ID CDATA #IMPLIED
>

