src/test/resources/dataSet_.dtd

<!ELEMENT dataset (
    ACCOUNT*,
    FOOD_INGREDIENT*,
    READY_MEAL*,
    READY_MEAL_DETAILS*,
    USERS*)>

<!ELEMENT ACCOUNT EMPTY>
<!ATTLIST ACCOUNT
    USER_ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    PASSWORD CDATA #IMPLIED
>

<!ELEMENT FOOD_INGREDIENT EMPTY>
<!ATTLIST FOOD_INGREDIENT
    ID CDATA #REQUIRED
    AMOUNT_CARBS CDATA #IMPLIED
    AMOUNT_FATS CDATA #IMPLIED
    AMOUNT_PROTINS CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT READY_MEAL EMPTY>
<!ATTLIST READY_MEAL
    MEAL_ID CDATA #REQUIRED
    TITLE CDATA #IMPLIED
    READYMEALACCOUNT_USER_ID CDATA #IMPLIED
>

<!ELEMENT READY_MEAL_DETAILS EMPTY>
<!ATTLIST READY_MEAL_DETAILS
    ID CDATA #REQUIRED
    GRAMS_PORTION CDATA #IMPLIED
    READYMEALDETAILSFOODINGREDIENT_ID CDATA #IMPLIED
    READYMEALDETAILSREADYMEAL_MEAL_ID CDATA #IMPLIED
>

<!ELEMENT USERS EMPTY>
<!ATTLIST USERS
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    AGE CDATA #IMPLIED
>

